<h1 align="center">Login</h1>
	
<%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
	<div class="form-group row">
		<label for="InputUserEmail" class="col-sm-2 col-form-label">
			<%= f.label :email %>
		</label>
		<div class="col-sm-10">
			<%= f.email_field :email, type: "email", class: "form-control", placeholder: "Enter email", autofocus: true %>
		</div>
	</div>
	
	<div class="form-group row">
		<label for="password" class="col-sm-2 col-form-label">
			<%= f.label :password %>
		</label>
		<div class="col-sm-10">
			<%= f.password_field :password, type: "Password", class: "form-control", autocomplete: "off" %>
		</div>
	</div>
	
	<div class="form-group row">
		<label class="col-sm-2 col-form-label"></label>
		<div class="col-sm-offset-10 col-sm-10">
			<%= f.submit("Log in", class: "btn btn-primary") %>
		</div>
	</div>
<% end %>

<div align="center">
	[ <%= link_to "Cancel", articles_path %> ]
</div>