<h2 align="Center"><%= @article.title %></h2>

<div class="card bg-light card-body col-xs-8 col-xs-offset-2">
	<!-- Display the author information -->
	<% if @article.user %>
		<ul class="listing">
			<div class="center">
				<li>Created by:</li>
				<li>
					<%= link_to gravatar_for(@article.user), user_path(@article.user) %>
				</li>
				<li class="article-title">
					<%= link_to @article.user.username, user_path(@article.user) %>
				</li>
				<li>
					<small>
						<%= pluralize(@article.user.articles.count, "article") if @article.user.articles %>
					</small>
				</li>
			</div>
		</ul>
	<% end %>
	<!-- Display Article information -->
	<h4 class="center description"><strong>Description</strong></h4>
	<hr>
	<%= simple_format(@article.description) %>
	<div class="article-actions center">
		<% if logged_in? && (current_user == @article.user || current_user.admin?) %>
			<%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-sm btn-primary" %>
			<%= link_to "Delete this article", 
									article_path(@article), 
									method: :delete, 
									data: { confirm: "Are you sure you want to delete the article?" }, 
									class: "btn btn-sm btn-danger" %>
		<% end %>
		<%= link_to "View all articles", articles_path, class: "btn btn-sm btn-success" %>
	</div>
</div>

