<h1 class="center">All Alpha Bloggers</h1>

<div class="center">
	<%= will_paginate %>
	<!-- Displays the list of users -->
	<% @users.each do |user| %>
		<ul class="listing">
			<div class="card bg-light">
				<li>
					<%= link_to gravatar_for(user), user_path(user) %>
				</li>
				<li class="article-title"><%= link_to user.username, user_path(user) %></li>
				<li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
				<% if logged_in? and current_user.admin? %>
					<li><%= link_to "Delete this user", user_path(user), method: :delete, 
									data: { confirm: "Are you sure you want to delete the user and all their articles?" } %>
					</li>
				<% end %>
			</div>
		</ul>
	<% end %>
	<%= will_paginate %>
</div>